<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style>
        #root {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .div {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-left: -75px;
        }
    </style>
</head>
<body>
    <div id="root">
        <div class="div" v-for="(item,index) in divList" :key="index" :style="{'background-color': item}"></div>
    </div>
    <script>
        new Vue({
            el: '#root',
            template: `<div id="root"><div v-for="(item,index) in divList" class="div" :style="{'background-color': item}"></div></div>`,
            data: {
                divList: ['#b6dcb6', '#d2e9e1', '#fbedc9', '#f8dda9', '#fcb6d0', '#ffdee1']
            }
        })
    </script>
</body>
</html>